<!DOCTYPE html>
<html>
        <body>
            <h1>Guilherme Volpe</h1>
            <strong>
                <h3>Desenvolvidor de Sistemas</h3>  
                </strong>
                        <p>Formas de Contato</p>
                        <p>(14) 98138-0151</p>
                        <p>Guivolpe@gmail.com</p>
                        <p>Currículo</p>
                        <p>link do currículo</p>

            <h2>Formações</h2>
                        <p>Bacharel em Administração de empresas</p>
                        <p>Pós em Direito Trebutário</p>
                        <p>Mestrado em Administração</p>
                        <p>Técnico em instalações Elétricas Residencial</p>
                        <p>Técnico em Artes Gráficas</p>
                        <p>Inglês Intermediário</p>
                        <p>*Cursando Técnico em Desenvolvimento de Sistemas</p>
            <hr>
                <h3>Experiências Profissional</h3>
                        <table>
                                    <tr>
                                            <td>1996-1998</td>
                                            <td style="background-color:gray">FIAT</td>
                                            <td>Setor de Qualidade</td>
                                
                        
                                        </tr> 
        
    
            @RenderBody()
        <h3>Tempo Dedicado aos Hobbies</h3>
</body>
</html>

